.website__link {
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: #fff;
  transition: linear 0.3s;
}

.website__link:hover {
  opacity: 50%;
}

@media screen and (max-width: 767px) {
  .website__link {
    padding: 0 16px;
  }
}
