.place {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(350px, 1fr);
  gap: 48px 40px;
  margin: 0 0 80px;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 0 0 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(300px, 460px) minmax(350px, 1fr);
    gap: 48px 32px;
    margin: 0 0 73px;
  }
}
